/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 5, 2017, 3:07:23 PM
    Author     : nachimm
*/

.root {

}

.buttonActive {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-color: #004d40;
}

.buttonInActive {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-color: #00897b;
}

.table-row-cell{
-fx-border-color: black;
-fx-table-cell-border-color:black;
-fx-background-color: #004d40;
-fx-text-fill: white;
-fx-font-size: 14px;
}

.table-cell{
    -fx-background-color: #004d40;
    -fx-text-fill: white;
}
.table-row-cell:empty {
    -fx-background-color: black;
    -fx-border-color: #004d40;
    -fx-table-cell-border-color:#004d40;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.table-view .column-header .label {
    -fx-background-color: #369;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}